/* .margin-left{
    margin-left: 5px !important;
}

.margin-right{
    margin-left: 80px !important;
}

.border-dark{
    display: inline-block;
    width: 700px;
    height: 600px;
    margin: 12px;
    /* background-color: #DCDCDC; 
} */

.back-image{
    background-image: url(/src/pages/Signin/lib.jpg);
}


          