/* .container-fluid{
    /* position: fixed; */
    /* left: 0; */
    /* top: 0; */
    /* bottom: 0; */
    /* right: 0; */
    /* overflow: hidden; */
     /* background: rgba(34, 95, 117, 0.049); 
    background: rgba(189, 192, 195, 0.169); */
    /*opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: -1; 
  } */

  /* background: '#373a47',
  padding: '2.5em 1.5em 0',
  font-size: '1.15em' */